<!doctype HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <title>Submit Assignment</title>
    <style>
        div {
            font-size: 24px;
            text-align: center;
            font-family: 'Lato Extended', Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin: 0 auto;
            width: 500px;
        }
    </style>
</head>

<body>
    <div>
        {% block content %}
            {% if success %}
                <h1>Assignment Submitted!</h1>
                <img src="http://ipylti.docker/static/success.svg" />
            {% else %}
                <h1>Submission Failed!</h1>
                <img src="http://ipylti.docker/static/problem.svg" />
            {% endif %}
        {% endblock content %}
    </div>
</body>

</html>